<main>
    <form action="/login" method="POST" class="login-form">
        <div class="form-control">
            <label for="email">Адрес электронной почты</label>
            <input type="email" name="email" id="email">
        </div>

        <div class="form-control">
            <label for="password">Пароль</label>
            <input type="password" name="password" id="password">
        </div>

        <div class="button">
            <button type="submit">Войти</button>
        </div>
    </form>
</main>