<main>
    <form action="/login" method="POST">
        <label for="email">Адрес электронной почты</label>
        <input type="email" name="email" id="email">

        <label for="password">Пароль</label>
        <input type="password" name="password" id="password">

        <button type="submit">Войти</button>
    </form>
</main>