<!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <meta http-equiv="X-UA-Compatible" content="ie=edge">
            <title>{{ docTitle }}</title>
            <link rel="stylesheet" href="public/stylesheets/style.css">
        </head>
        <body>
            <header>
                <a href="/">Регистрация заявок</a>
                {{#if isAdmin}}
                    <a href="/new-user">Новый пользователь</a>
                {{/if}}
                <a href="/profile">Профиль</a>
                <a href="/about">Инфо</a>
                {{#if user}}
                    <form action="/logout" method="post">
                        <button type="submit">Logout</button>
                    </form>
                {{else}}
                    <a href="/login">Вход</a>
                {{/if}}
            </header>
                {{{ body }}}
        </body>

    </html>

