<main>
    <div class="container">
        <h1 style="text-align: center">ИНФО</h1>
        <p>
            Для тестирования сервиса вы можете воспользоваться существующей учетной записью<br><br>
            <strong>Администратор:</strong><br>
            <strong>Логин: </strong> admin@gmail.com<br>
            <strong>Пароль: </strong> 123456789r<br><br>

            Просьба не удалять существующие учетные записи администраторов
        </p>
    </div>
</main>