<main>
    <div class="container">
        <h1 style="text-align: center">ИНФО</h1>
        <p>
            Для тестирования сервиса вы можете воспользоваться существующей учетной записью<br><br>
            <strong>Администратор:</strong><br>
            <strong>Логин: </strong> admin@gmail.com<br>
            <strong>Пароль: </strong> 123456789r<br><br>

            Сервис предназначен для автоматизации передач заявок от пользователей к сервисным службам.<br>
            После создания задачи сервис автоматически выбирает работника и отправляет ему e-mail с извещением о поступившей задаче.<br>
            Для тестирования работы отправки извещений используется сервис mailtrap.io (вы можете отслеживать отправленные письма на их сайте).<br>

            Просьба не удалять существующие учетные записи администраторов<br><br>


        </p>
    </div>
</main>