<main>
    <div>
        <form action="/new-problem" method="post">
            <div class="form-control">
                <label for="description">Краткое описание проблемы</label>
                <textarea name="description" id="description" rows="20"></textarea>
            </div>

            <p>Приоритет решения задачи</p>
            <div class="radio-control">
                <label for="highPriority">Высокий</label>
                <input type="radio" name="priority" id="highPriority" value="high">
            </div>

            <div class="radio-control">
                <label for="mediumPriority">Средний</label>
                <input type="radio" name="priority" id="mediumPriority" value="medium">
            </div>

            <div class="radio-control">
                <label for="lowPriority">Низкий</label>
                <input type="radio" name="priority" id="lowPriority" value="low">
            </div>

            <input type="hidden" type="submit" value="{{destination}}" name="destination">

            <div class="button">
                <button type="submit">Отправить заявку</button>
            </div>
        </form>
    </div>
</main>