<main>
    <div>
        <h1>Выбор категории</h1>
        <div class="button">
            <form action="/software-problems" method="get">
                <button type="submit">Проблемы с программным обеспечением</button>
            </form>
        </div>
        <div class="button">
            <form action="/office-equipment-problems" method="get">
                <button type="submit">Проблемы с офисной техникой</button>
            </form>
        </div>

        <div class="button">
            <form action="/furniture-problems" method="get">
                <button type="submit">Проблемы с мебелью, проводкой, освещением и т.д.</button>
            </form>
        </div>

        <div class="button">
            <form action="/profile-problems" method="get">
                <button type="submit">Проблемы с учетной записью</button>
            </form>
        </div>
    </div>
</main>