<main>
    <div>
        <h1>Выбор категории</h1>
        <div>
            <a href="/software-problems">Проблемы с программным обеспечением</a>
            <a href="/office-equipment-problems">Проблемы с офисной техникой</a>
            <a href="/furniture-problems">Проблемы с мебелью, проводкой, освещением и т.д.</a>
            <a href="/profile-problems">Проблемы с учетной записью</a>
        </div>
    </div>
</main>